<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.admin.freddyspeaks">

    <permission
        android:name="com.admin.freddyspeaks.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.SEND" />
    <uses-permission android:name="com.admin.freddyspeaks.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".OutletDetailsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomePageActivity"
            android:label="@string/title_activity_home_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserInfoActivity"
            android:label="@string/title_activity_user_info"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoadingActivity"
            android:label="@string/title_activity_loading"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RewardDisplayActivity"
            android:label="@string/title_activity_goodie_display"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GetRatingActivity"
            android:label="@string/title_activity_get_rating"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RewardConfigurationActivity"
            android:label="@string/title_activity_reward_configuration"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BillDetailsActivity"
            android:label="@string/title_activity_bill_details"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".RewardSelectionActivity"
            android:label="@string/title_activity_reward_selection"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".SubscriptionInfoActivity"
            android:label="@string/title_activity_subscription_info"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RatingSummaryActivity"
            android:label="@string/title_activity_rating_summary"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver
            android:name="com.admin.receiver.DeviceBootReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.admin.receiver.AlarmReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.admin.freddyspeaks" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.admin.services.NodeGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name="com.admin.services.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name="com.admin.services.RegistrationIntentService"
            android:exported="false" />

    </application>

</manifest>