<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.freddyspeaks">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".OutletDetailsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomePageActivity"
            android:label="@string/title_activity_home_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserInfoActivity"
            android:label="@string/title_activity_user_info"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RateOutletActivity"
            android:label="@string/title_activity_rate_outlet"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoadingActivity"
            android:label="@string/title_activity_loading"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RewardDisplayActivity"
            android:label="@string/title_activity_goodie_display"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GetRatingActivity"
            android:label="@string/title_activity_get_rating"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".RewardConfigurationActivity"
            android:label="@string/title_activity_reward_configuration"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".BillDetailsActivity"
            android:label="@string/title_activity_bill_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RewardSelectionActivity"
            android:label="@string/title_activity_reward_selection"
            android:theme="@style/Theme.AppCompat.Dialog" >
        </activity>
        <activity
            android:name=".ThanksActivity"
            android:label="@string/title_activity_thanks"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
